.uk-section {
    padding-bottom: 0;
}
/* Footer */

footer{
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    font-family: sans-serif;
}

.footer-social-icons{
    width: 100%;
    height: auto;
   margin: auto;
    margin-top:5%; 
    margin-bottom: 5%;
}
.footer-social-icons ul{
    margin: 0%;
    padding: 0%;
    text-align: center;
    list-style: none;
    
}
.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100px;
    background-color: #bbb;
}
a{
    text-decoration: none;
    outline: none;
}
.footer-social-icons ul li a{
    color: #272727;
    font-size: 30px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10% ;
}
.footer-menu ul{
    margin: 0%;
    padding: 0%;
    text-align: center;
    list-style: none;
    font-size: 30px;
}

.footer-menu ul li{
    margin: 0px 20px;
}
.footer-menu ul li a{
    font-family: arial;
    font-size: 20px;
    color: #aaa;
}
.contact {
    font-size: 30px;
    text-align: center;
}
.rights{
    text-align: center;
}
