<div class="uk-section uk-section-secondary uk-light">
<footer>
    <h3 class="contact">Contact Us</h3>
    <div class="footer-social-icons">
        <ul>
            <li><a href="#" target="blank"><i class="icon icon-facebook">F</i></a></li>
            <li><a href="#" target="blank"><i class="icon icon-twitter">T</i></a></li>
            <li><a href="#" target="blank"><i class="icon icon-google-plus">G+</i></a></li>
            <li><a href="#" target="blank"><i class="icon icon-youtube"></i>YT</a></li>
        </ul>
    </div>
    <p class="rights">Design and Develop By Asia Mahmood@2019</p>
</footer>
 